<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Elisabeth Azémard">
  <link rel="stylesheet" href="http://localhost:8888/site-perso/assets/css/style.css">
  <title>Portfolio - Elisabeth Azémard</title>
</head>
<body>
<header>
  <nav class="top-left">
    <a href="{{ path('app_work') }}">Work</a>
    <a href="{{ path('app_blog') }}">Blog</a>
  </nav>
  <h1 class="logo"><a href="{{ path('app_work') }}"><img src="sitelogo" alt="logo"></a></h1>
  <nav class="top-right">
    <a href="{{ path('app_about') }}">About</a>
    <a href="{{ path('app_contact') }}">Contact</a>
    <a href="{{ path('app_admin') }}">Admin</a>
  </nav>
</header>
<main>

</main>
<footer>
    Elisabeth Azémard - 2019 <a href="">Log out</a>
</footer>
</body>
</html>